main {
  text-align: center;
  padding: 1em;
  max-width: 240px;
  margin: 0 auto;
}

body {
  background-color: black;
}

h1 {
  color: #61DBFB;
  font-size: 3em;
  font-weight: 100;
}

@media (min-width: 640px) {
  main {
    max-width: none;
  }
}

/* TaskInput */
.input-field {
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #e3e3e3;
}
.sumit-button {
  background: #61DBFB;
  border: #61DBFB;
  padding: 4px;
  color: white;
}

/* DoneTasks */
ul {
  list-style: none;
}

.done-task{
  text-decoration: line-through;
  color: white;
}

/* BacklogTasks */
/* ul {
  list-style: none;
} */
.backlog-task {
  color: white;
}

.checkbox-input {
  margin-right: 8px;
  display: inline-flex;
}